{% extends 'base.html.twig' %}
{% block title %}
| browse
{% endblock %}
{% block body %}
    <div class="content">
        Aby uzyskać bardziej szczegółowe informacje kliknij wybraną pozycję
    </div>    
    {% for key, phone in phones %}
        {% if key is odd %}
            <div class="gray"> 
        {% else %}
            <div class="white">
        {% endif %}  
        <a href="{{ path('show_phones', {id: phone.id }) }}">
            {{ phone.company }} <strong>{{ phone.number }} </strong>
        </a></div><br>  
    {% endfor %}
 {% endblock %}