body{
    background-color: lightgray;
}
h1{
    background-color: black;
    color: whitesmoke;
    padding: 10px 0 10px 50px;
}
th{
    background-color: #FFC000;
}
td.white{
    background-color: white;
}
td.yellow{
    background-color: #FFF2CC;
}
table{
    margin: 20px 0 0 50px;
}