body{
    background-color: lightgray;
}
h1{
    background-color: black;
    border-radius: 15px;
    color: whitesmoke;
    padding: 10px 0 10px 200px;
}
h4{
    margin-left: 100px;
}

ul{
    margin-left: 30px;
}

#menu{
    float: right;
    padding: 0 50px 0 0;
}
div.gray{
    margin-left: 100px;
    width: 400px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(160, 159, 150);
}
div.white{
    margin-left: 70px;
    width: 400px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(186, 186, 135);
}
div.alert-success{
    font-size: 20px;
    color: #0f5132;
    background-color: #d1e7dd;
    border: solid #badbcc 5px;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
  }
div.content{
    margin: 20px;
    color:rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: solid;
}

